.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}

.form-container {
  width: 40rem;
  padding: 2rem;
  background-color: rgba(255, 0, 0, 0.1); /* Red with 10% transparency */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5); /* White with 50% transparency */
  color: #333; /* Dark text color */
}

.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000; /* Red */
  color: white;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #510404; /* Darker shade of red on hover */
}

.form-container p {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.form-container p span {
  color: #e91e63; /* Pink color */
  cursor: pointer;
}

.form-container p span:hover {
  text-decoration: underline;
}

.button{
  padding:0.7rem;
 border-radius: 8px;
}
