.t-container {
  position: absolute;
  left: 5rem;
  top: 13rem;
  width:50%;
}

.t-container h1 {
  font-size: 2rem;
  display: block;
  color: hsl(0, 90%, 49%);
  /* margin-bottom: 0.5rem; */
  
}

.t-container p {
  font-size: 1rem;
  color: #f2ebeb;
  
}
